.elementor-87
  .elementor-element.elementor-element-6897655
  > .elementor-container {
  min-height: 400px;
}
.elementor-87
  .elementor-element.elementor-element-6897655:not(.elementor-motion-effects-element-type-background),
.elementor-87
  .elementor-element.elementor-element-6897655
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../img/dining.jpg");
  background-position: top center;
  background-size: cover;
}
.elementor-87
  .elementor-element.elementor-element-6897655
  > .elementor-background-overlay {
  background-color: #000000e6;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-87 .elementor-element.elementor-element-6897655 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-87
  .elementor-element.elementor-element-4576f85
  .elementor-spacer-inner {
  height: 111px;
}
.elementor-87 .elementor-element.elementor-element-5a28023 {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-5a28023
  .elementor-heading-title {
  color: #ffffff;
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
  text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.49);
}
.elementor-87
  .elementor-element.elementor-element-e9b6f86
  .elementor-spacer-inner {
  height: 33px;
}
.elementor-87 .elementor-element.elementor-element-2d56e3b {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0px 20px 0px;
}
.elementor-87 .elementor-element.elementor-element-a15ff37 {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-a15ff37
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-87 .elementor-element.elementor-element-681185f {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-primary);
  --divider-border-width: 2px;
}
.elementor-87
  .elementor-element.elementor-element-681185f
  .elementor-divider-separator {
  width: 30%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-87 .elementor-element.elementor-element-681185f .elementor-divider {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}
.elementor-87 .elementor-element.elementor-element-4f75cf0 {
  text-align: center;
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
}
/* .elementor-87
  .elementor-element.elementor-element-4f75cf0
  > .elementor-widget-container {
  padding: 0px 150px 0px 150px;
} */
.elementor-87
  .elementor-element.elementor-element-ec81d08:not(.elementor-motion-effects-element-type-background),
.elementor-87
  .elementor-element.elementor-element-ec81d08
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../img/dining5.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-87 .elementor-element.elementor-element-ec81d08 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-87
  .elementor-element.elementor-element-ec81d08
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-87
  .elementor-element.elementor-element-1656c78:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-87
  .elementor-element.elementor-element-1656c78
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-87
  .elementor-element.elementor-element-1656c78
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 4% 05% 04% 060%;
  padding: 40px 40px 40px 40px;
}
.elementor-87
  .elementor-element.elementor-element-1656c78
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-87 .elementor-element.elementor-element-dcd0d04 {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-dcd0d04
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-87 .elementor-element.elementor-element-236fcfd {
  text-align: justify;
}
.elementor-87 .elementor-element.elementor-element-9420bda {
  margin-top: 50px;
  margin-bottom: 50px;
}
.elementor-87 .elementor-element.elementor-element-f3b688a {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-f3b688a
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-87 .elementor-element.elementor-element-ccf8474 {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-primary);
  --divider-border-width: 2px;
}
.elementor-87
  .elementor-element.elementor-element-ccf8474
  .elementor-divider-separator {
  width: 30%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-87 .elementor-element.elementor-element-ccf8474 .elementor-divider {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}
.elementor-87
  .elementor-element.elementor-element-3378572
  > .elementor-container {
  min-height: 541px;
}
.elementor-87
  .elementor-element.elementor-element-3378572
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-87
  .elementor-element.elementor-element-c9579e6
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-d163fb4
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-a0a2e6b
  > .elementor-element-populated {
  padding: 50px 50px 50px 50px;
}
.elementor-87 .elementor-element.elementor-element-37aed08 {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-37aed08
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-87 .elementor-element.elementor-element-d811efa {
  text-align: justify;
}
.elementor-87 .elementor-element.elementor-element-b3ea1bf .elementor-button {
  font-family: var(--e-global-typography-cb5a93a-font-family), Sans-serif;
  font-size: var(--e-global-typography-cb5a93a-font-size);
  text-transform: var(--e-global-typography-cb5a93a-text-transform);
  line-height: var(--e-global-typography-cb5a93a-line-height);
  letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  background-color: #d1b66b;
  border-radius: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-b3ea1bf
  .elementor-button:hover,
.elementor-87
  .elementor-element.elementor-element-b3ea1bf
  .elementor-button:focus {
  background-color: #000000;
}
.elementor-87
  .elementor-element.elementor-element-6eec57b
  > .elementor-container {
  min-height: 541px;
}
.elementor-87
  .elementor-element.elementor-element-6eec57b
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-87
  .elementor-element.elementor-element-0e3c44a
  > .elementor-element-populated {
  /* margin: 26px 150px 26px 35px; */
  padding: 67px 67px 67px 67px;
}
.elementor-87 .elementor-element.elementor-element-0196372 {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-0196372
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-87 .elementor-element.elementor-element-3d49246 {
  text-align: justify;
}
.elementor-87 .elementor-element.elementor-element-c70459f .elementor-button {
  font-family: var(--e-global-typography-cb5a93a-font-family), Sans-serif;
  font-size: var(--e-global-typography-cb5a93a-font-size);
  text-transform: var(--e-global-typography-cb5a93a-text-transform);
  line-height: var(--e-global-typography-cb5a93a-line-height);
  letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  background-color: #d1b66b;
  border-radius: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-c70459f
  .elementor-button:hover,
.elementor-87
  .elementor-element.elementor-element-c70459f
  .elementor-button:focus {
  background-color: #000000;
}
.elementor-87
  .elementor-element.elementor-element-c001d35
  > .elementor-element-populated {
  margin: 0px 38px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-9de8d26
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-bec9ea0
  > .elementor-container {
  min-height: 541px;
}
.elementor-87
  .elementor-element.elementor-element-bec9ea0
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-87
  .elementor-element.elementor-element-4683d40:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-87
  .elementor-element.elementor-element-4683d40
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../img/dining4.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-87
  .elementor-element.elementor-element-4683d40
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 38px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-4683d40
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-87
  .elementor-element.elementor-element-aa98ef1
  .elementor-spacer-inner {
  height: 542px;
}
.elementor-87
  .elementor-element.elementor-element-7bae9da
  > .elementor-element-populated {
  margin: 26px 260px 26px 010px;
  padding: 67px 67px 67px 67px;
}
.elementor-87 .elementor-element.elementor-element-d8af483 {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-d8af483
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-87 .elementor-element.elementor-element-5595c9e {
  text-align: justify;
}
.elementor-87 .elementor-element.elementor-element-1465f93 .elementor-button {
  font-family: var(--e-global-typography-cb5a93a-font-family), Sans-serif;
  font-size: var(--e-global-typography-cb5a93a-font-size);
  text-transform: var(--e-global-typography-cb5a93a-text-transform);
  line-height: var(--e-global-typography-cb5a93a-line-height);
  letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  background-color: #d1b66b;
  border-radius: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-1465f93
  .elementor-button:hover,
.elementor-87
  .elementor-element.elementor-element-1465f93
  .elementor-button:focus {
  background-color: #000000;
}
.elementor-87
  .elementor-element.elementor-element-14b5773
  > .elementor-container {
  min-height: 541px;
}
.elementor-87
  .elementor-element.elementor-element-14b5773
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-87
  .elementor-element.elementor-element-1863053
  > .elementor-element-populated {
  margin: 0px 38px 0px 50px;
}
.elementor-87 .elementor-element.elementor-element-46cf8de {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-46cf8de
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-87 .elementor-element.elementor-element-889514d {
  text-align: justify;
}
.elementor-87 .elementor-element.elementor-element-0b961b8 .elementor-button {
  font-family: var(--e-global-typography-cb5a93a-font-family), Sans-serif;
  font-size: var(--e-global-typography-cb5a93a-font-size);
  text-transform: var(--e-global-typography-cb5a93a-text-transform);
  line-height: var(--e-global-typography-cb5a93a-line-height);
  letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  background-color: #d1b66b;
  border-radius: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-0b961b8
  .elementor-button:hover,
.elementor-87
  .elementor-element.elementor-element-0b961b8
  .elementor-button:focus {
  background-color: #000000;
}
.elementor-87
  .elementor-element.elementor-element-a596727
  > .elementor-element-populated {
  margin: 26px 050px 26px 010px;
}
.elementor-87
  .elementor-element.elementor-element-f3bb49c
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-2f59a75
  > .elementor-container {
  min-height: 541px;
}
.elementor-87
  .elementor-element.elementor-element-2f59a75
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-87
  .elementor-element.elementor-element-e38942e:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-87
  .elementor-element.elementor-element-e38942e
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2021/05/Sheesh-Mahal-3.jpg");
  background-size: cover;
}
.elementor-87
  .elementor-element.elementor-element-e38942e
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 38px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-e38942e
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-87
  .elementor-element.elementor-element-863581a
  .elementor-spacer-inner {
  height: 562px;
}
.elementor-87
  .elementor-element.elementor-element-22b1d9a
  > .elementor-element-populated {
  margin: 26px 50px 26px 010px;
  padding: 67px 67px 67px 67px;
}
.elementor-87 .elementor-element.elementor-element-4898788 {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-4898788
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-87 .elementor-element.elementor-element-7a50262 {
  text-align: justify;
}
.elementor-87 .elementor-element.elementor-element-ef08c5b .elementor-button {
  font-family: var(--e-global-typography-cb5a93a-font-family), Sans-serif;
  font-size: var(--e-global-typography-cb5a93a-font-size);
  text-transform: var(--e-global-typography-cb5a93a-text-transform);
  line-height: var(--e-global-typography-cb5a93a-line-height);
  letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  background-color: #d1b66b;
  border-radius: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-ef08c5b
  .elementor-button:hover,
.elementor-87
  .elementor-element.elementor-element-ef08c5b
  .elementor-button:focus {
  background-color: #000000;
}
.elementor-87
  .elementor-element.elementor-element-102013a
  > .elementor-container {
  min-height: 541px;
}
.elementor-87
  .elementor-element.elementor-element-102013a
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-87
  .elementor-element.elementor-element-c43758d
  > .elementor-element-populated {
  margin: 26px 26px 26px 010px;
  padding: 67px 67px 67px 67px;
}
.elementor-87 .elementor-element.elementor-element-288579f {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-288579f
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-87 .elementor-element.elementor-element-63c6db1 {
  text-align: justify;
}
.elementor-87 .elementor-element.elementor-element-e21cdf5 .elementor-button {
  font-family: var(--e-global-typography-cb5a93a-font-family), Sans-serif;
  font-size: var(--e-global-typography-cb5a93a-font-size);
  text-transform: var(--e-global-typography-cb5a93a-text-transform);
  line-height: var(--e-global-typography-cb5a93a-line-height);
  letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  background-color: #d1b66b;
  border-radius: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-e21cdf5
  .elementor-button:hover,
.elementor-87
  .elementor-element.elementor-element-e21cdf5
  .elementor-button:focus {
  background-color: #000000;
}
.elementor-87
  .elementor-element.elementor-element-35a32d6
  > .elementor-element-populated {
  margin: 0px 38px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-16efb78
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-ab5aba8
  > .elementor-container {
  min-height: 541px;
}
.elementor-87
  .elementor-element.elementor-element-ab5aba8
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-87
  .elementor-element.elementor-element-b928155
  > .elementor-element-populated {
  margin: 0px 38px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-188a451
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-7bf77e0
  > .elementor-element-populated {
  margin: 26px 260px 26px 010px;
  padding: 67px 67px 67px 67px;
}
.elementor-87 .elementor-element.elementor-element-b7f1f2c {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-b7f1f2c
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-87 .elementor-element.elementor-element-3c95b3e {
  text-align: justify;
}
.elementor-87 .elementor-element.elementor-element-2854114 .elementor-button {
  font-family: var(--e-global-typography-cb5a93a-font-family), Sans-serif;
  font-size: var(--e-global-typography-cb5a93a-font-size);
  text-transform: var(--e-global-typography-cb5a93a-text-transform);
  line-height: var(--e-global-typography-cb5a93a-line-height);
  letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  background-color: #d1b66b;
  border-radius: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-2854114
  .elementor-button:hover,
.elementor-87
  .elementor-element.elementor-element-2854114
  .elementor-button:focus {
  background-color: #000000;
}
.elementor-87
  .elementor-element.elementor-element-40337de
  > .elementor-container {
  min-height: 541px;
}
.elementor-87
  .elementor-element.elementor-element-40337de
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-87
  .elementor-element.elementor-element-f2c779b
  > .elementor-element-populated {
  margin: 26px 50px 26px 010px;
  padding: 67px 67px 67px 67px;
}
.elementor-87 .elementor-element.elementor-element-a6af6b9 {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-a6af6b9
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-87 .elementor-element.elementor-element-06acf8a {
  text-align: justify;
}
.elementor-87 .elementor-element.elementor-element-8da5565 .elementor-button {
  font-family: var(--e-global-typography-cb5a93a-font-family), Sans-serif;
  font-size: var(--e-global-typography-cb5a93a-font-size);
  text-transform: var(--e-global-typography-cb5a93a-text-transform);
  line-height: var(--e-global-typography-cb5a93a-line-height);
  letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  background-color: #d1b66b;
  border-radius: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-8da5565
  .elementor-button:hover,
.elementor-87
  .elementor-element.elementor-element-8da5565
  .elementor-button:focus {
  background-color: #000000;
}
.elementor-87
  .elementor-element.elementor-element-b0bd2b3:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-87
  .elementor-element.elementor-element-b0bd2b3
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2021/05/upper-pool.jpg");
  background-position: bottom center;
  background-size: cover;
}
.elementor-87
  .elementor-element.elementor-element-b0bd2b3
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 38px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-b0bd2b3
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-87
  .elementor-element.elementor-element-53a33ae
  .elementor-spacer-inner {
  height: 555px;
}
.elementor-87
  .elementor-element.elementor-element-7926850
  > .elementor-container {
  min-height: 541px;
}
.elementor-87
  .elementor-element.elementor-element-7926850
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-87
  .elementor-element.elementor-element-935b71a:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-87
  .elementor-element.elementor-element-935b71a
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2021/05/021A0690.jpeg");
  background-position: bottom left;
  background-size: cover;
}
.elementor-87
  .elementor-element.elementor-element-935b71a
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 40px 120px 40px 50px;
}
.elementor-87
  .elementor-element.elementor-element-935b71a
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-87
  .elementor-element.elementor-element-10d487b
  .elementor-spacer-inner {
  height: 450px;
}
.elementor-87
  .elementor-element.elementor-element-06e3ac7
  > .elementor-element-populated {
  margin: 26px 50px 26px 010px;
  padding: 67px 67px 67px 67px;
}
.elementor-87 .elementor-element.elementor-element-b50dd39 {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-b50dd39
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-87 .elementor-element.elementor-element-1c5c255 {
  text-align: justify;
}
.elementor-87 .elementor-element.elementor-element-590cb9e .elementor-button {
  font-family: var(--e-global-typography-cb5a93a-font-family), Sans-serif;
  font-size: var(--e-global-typography-cb5a93a-font-size);
  text-transform: var(--e-global-typography-cb5a93a-text-transform);
  line-height: var(--e-global-typography-cb5a93a-line-height);
  letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  background-color: #d1b66b;
  border-radius: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-590cb9e
  .elementor-button:hover,
.elementor-87
  .elementor-element.elementor-element-590cb9e
  .elementor-button:focus {
  background-color: #000000;
}
.elementor-87
  .elementor-element.elementor-element-746b49f
  > .elementor-container {
  min-height: 541px;
}
.elementor-87
  .elementor-element.elementor-element-746b49f
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-87
  .elementor-element.elementor-element-560f4e8
  > .elementor-element-populated {
  /* margin: 26px 50px 26px 010px; */
  padding: 67px 67px 67px 67px;
}
.elementor-87 .elementor-element.elementor-element-62116e8 {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-62116e8
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-87 .elementor-element.elementor-element-41bd68e {
  text-align: justify;
}
.elementor-87 .elementor-element.elementor-element-d6ca3be .elementor-button {
  font-family: var(--e-global-typography-cb5a93a-font-family), Sans-serif;
  font-size: var(--e-global-typography-cb5a93a-font-size);
  text-transform: var(--e-global-typography-cb5a93a-text-transform);
  line-height: var(--e-global-typography-cb5a93a-line-height);
  letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  background-color: #d1b66b;
  border-radius: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-d6ca3be
  .elementor-button:hover,
.elementor-87
  .elementor-element.elementor-element-d6ca3be
  .elementor-button:focus {
  background-color: #000000;
}
.elementor-87
  .elementor-element.elementor-element-c77902a:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-87
  .elementor-element.elementor-element-c77902a
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../img/waterpark.png");
  background-position: bottom center;
  background-size: cover;
}
.elementor-87
  .elementor-element.elementor-element-c77902a
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 80px 0px 80px 050px;
}
.elementor-87
  .elementor-element.elementor-element-c77902a
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-87
  .elementor-element.elementor-element-8c704f3
  .elementor-spacer-inner {
  height: 284px;
}
.elementor-87
  .elementor-element.elementor-element-db73aa9:not(.elementor-motion-effects-element-type-background),
.elementor-87
  .elementor-element.elementor-element-db73aa9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-87 .elementor-element.elementor-element-db73aa9 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 15px 15px 15px 15px;
}
.elementor-87
  .elementor-element.elementor-element-db73aa9
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-87
  .elementor-element.elementor-element-8f012a1.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-87
  .elementor-element.elementor-element-8f012a1.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-87 .elementor-element.elementor-element-c3674d2 {
  text-align: center;
}
.elementor-87
  .elementor-element.elementor-element-c3674d2
  .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: "Poppins", Sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.elementor-87
  .elementor-element.elementor-element-8922918
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 14px;
}
.elementor-87
  .elementor-element.elementor-element-8922918
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 14px;
}
.elementor-87 .elementor-element.elementor-element-8922918 .elementor-button {
  font-family: var(--e-global-typography-cb5a93a-font-family), Sans-serif;
  font-size: var(--e-global-typography-cb5a93a-font-size);
  text-transform: var(--e-global-typography-cb5a93a-text-transform);
  line-height: var(--e-global-typography-cb5a93a-line-height);
  letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  background-color: var(--e-global-color-secondary);
  border-radius: 0px 0px 0px 0px;
}
.elementor-87
  .elementor-element.elementor-element-8922918
  .elementor-button:hover,
.elementor-87
  .elementor-element.elementor-element-8922918
  .elementor-button:focus {
  background-color: #000000;
}
@media (min-width: 768px) {
  .elementor-87 .elementor-element.elementor-element-1656c78 {
    width: 100%;
  }
  .elementor-87 .elementor-element.elementor-element-0e3c44a {
    width: 51.305%;
  }
  .elementor-87 .elementor-element.elementor-element-c001d35 {
    width: 48.603%;
  }
  .elementor-87 .elementor-element.elementor-element-4683d40 {
    width: 35.783%;
  }
  .elementor-87 .elementor-element.elementor-element-7bae9da {
    width: 64.125%;
  }
  .elementor-87 .elementor-element.elementor-element-1863053 {
    width: 46.819%;
  }
  .elementor-87 .elementor-element.elementor-element-a596727 {
    width: 53.089%;
  }
  .elementor-87 .elementor-element.elementor-element-e38942e {
    width: 49.908%;
  }
  .elementor-87 .elementor-element.elementor-element-22b1d9a {
    width: 50%;
  }
  .elementor-87 .elementor-element.elementor-element-c43758d {
    width: 51.777%;
  }
  .elementor-87 .elementor-element.elementor-element-35a32d6 {
    width: 48.131%;
  }
  .elementor-87 .elementor-element.elementor-element-b928155 {
    width: 43.079%;
  }
  .elementor-87 .elementor-element.elementor-element-7bf77e0 {
    width: 56.829%;
  }
  .elementor-87 .elementor-element.elementor-element-f2c779b {
    width: 51.868%;
  }
  .elementor-87 .elementor-element.elementor-element-b0bd2b3 {
    width: 48.04%;
  }
  .elementor-87 .elementor-element.elementor-element-935b71a {
    width: 59.545%;
  }
  .elementor-87 .elementor-element.elementor-element-06e3ac7 {
    width: 40.363%;
  }
  .elementor-87 .elementor-element.elementor-element-560f4e8 {
    width: 51.868%;
  }
  .elementor-87 .elementor-element.elementor-element-c77902a {
    width: 48.04%;
  }
}
@media (max-width: 1024px) {
  .elementor-87
    .elementor-element.elementor-element-5a28023
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-a15ff37
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-dcd0d04
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-f3b688a
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-37aed08
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-b3ea1bf .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-0196372
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-c70459f .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-d8af483
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-1465f93 .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-46cf8de
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-0b961b8 .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-4898788
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-ef08c5b .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-288579f
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-e21cdf5 .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-b7f1f2c
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-2854114 .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-a6af6b9
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-8da5565 .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-b50dd39
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-590cb9e .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-62116e8
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-d6ca3be .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-8922918 .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
}
@media (max-width: 767px) {
  .elementor-87
    .elementor-element.elementor-element-5a28023
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-a15ff37
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-dcd0d04
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-f3b688a
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-37aed08
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-b3ea1bf .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-0196372
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-c70459f .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-d8af483
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-1465f93 .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-46cf8de
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-0b961b8 .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-4898788
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-ef08c5b .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-288579f
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-e21cdf5 .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-b7f1f2c
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-2854114 .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-a6af6b9
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-8da5565 .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-b50dd39
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-590cb9e .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87
    .elementor-element.elementor-element-62116e8
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-d6ca3be .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
  .elementor-87 .elementor-element.elementor-element-8922918 .elementor-button {
    font-size: var(--e-global-typography-cb5a93a-font-size);
    line-height: var(--e-global-typography-cb5a93a-line-height);
    letter-spacing: var(--e-global-typography-cb5a93a-letter-spacing);
  }
}
@media (min-width: 1025px) {
  .elementor-87
    .elementor-element.elementor-element-ec81d08:not(.elementor-motion-effects-element-type-background),
  .elementor-87
    .elementor-element.elementor-element-ec81d08
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
